In [23]:
import pandas as pd

In [22]:
url ="https://raw.githubusercontent.com/Violainedlst/proyecto-da-promo-H-modulo-3-team-2-People-pulse/main/CSVs/datos_limpios.csv"
df =pd.read_csv(url,index_col=0)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 51 to 46
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   attrition                   1614 non-null   object
 1   business_travel             842 non-null    object
 2   daily_rate                  1614 non-null   int64
 3   department                  302 non-null    object
 4   distance_from_home          1614 non-null   int64
 5   education                   1614 non-null   int64
 6   education_field             869 non-null    object
 7   employee_number             1614 non-null   int64
 8   environment_satisfaction    1614 non-null   int64
 9   gender                      1614 non-null   object
 10  hourly_rate                 1614 non-null   int64
 11  job_involvement             1614 non-null   int64
 12  job_level                   1614 non-null   int64
 13  job_role                    1614 non-null   object
 14  job_satisfaction            1614 non-null   int64
 15  marital_status              963 non-null    object
 16  monthly_income              1614 non-null   int64
 17  monthly_rate                1614 non-null   int64
 18  num_companies_worked        1614 non-null   int64
 19  overtime                    938 non-null    object
 20  percent_salary_hike         1614 non-null   int64
 21  relationship_satisfaction   1614 non-null   int64
 22  stock_option_level          1614 non-null   int64
 23  total_working_years         1614 non-null   int64
 24  training_times_last_year    1614 non-null   int64
 25  work_life_balance           1614 non-null   int64
 26  years_at_company            1614 non-null   int64
 27  years_since_last_promotion  1614 non-null   int64
 28  years_with_curr_manager     1614 non-null   int64
 29  year_birth                  1614 non-null   int64
 30  role_department             302 non-null    object
 31  remote_work                 1614 non-null   object
dtypes: int64(22), object(10)
memory usage: 416.1+ KB
None

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 51 to 46
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   attrition                   1614 non-null   object
 1   business_travel             842 non-null    object
 2   daily_rate                  1614 non-null   int64
 3   department                  302 non-null    object
 4   distance_from_home          1614 non-null   int64
 5   education                   1614 non-null   int64
 6   education_field             869 non-null    object
 7   employee_number             1614 non-null   int64
 8   environment_satisfaction    1614 non-null   int64
 9   gender                      1614 non-null   object
 10  hourly_rate                 1614 non-null   int64
 11  job_involvement             1614 non-null   int64
 12  job_level                   1614 non-null   int64
 13  job_role                    1614 non-null   object
 14  job_satisfaction            1614 non-null   int64
 15  marital_status              963 non-null    object
 16  monthly_income              1614 non-null   int64
 17  monthly_rate                1614 non-null   int64
 18  num_companies_worked        1614 non-null   int64
 19  overtime                    938 non-null    object
 20  percent_salary_hike         1614 non-null   int64
 21  relationship_satisfaction   1614 non-null   int64
 22  stock_option_level          1614 non-null   int64
 23  total_working_years         1614 non-null   int64
 24  training_times_last_year    1614 non-null   int64
 25  work_life_balance           1614 non-null   int64
 26  years_at_company            1614 non-null   int64
 27  years_since_last_promotion  1614 non-null   int64
 28  years_with_curr_manager     1614 non-null   int64
 29  year_birth                  1614 non-null   int64
 30  role_department             302 non-null    object
 31  remote_work                 1614 non-null   object
dtypes: int64(22), object(10)
memory usage: 416.1+ KB

In [4]:
df["business_travel"].unique

<bound method Series.unique of 0                 NaN
1                 NaN
2       travel_rarely
3       travel_rarely
4                 NaN
            ...
1609    travel_rarely
1610       non_travel
1611    travel_rarely
1612       non_travel
1613              NaN
Name: business_travel, Length: 1614, dtype: object>

In [5]:
df["business_travel"].dtype

dtype('O')

In [9]:
df["age"].dtype

dtype('int64')

In [6]:
df["business_travel"] = df["business_travel"].fillna('n/a')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 0 to 1613
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         1614 non-null   int64
 1   attrition                   1614 non-null   object
 2   business_travel             1614 non-null   object
 3   daily_rate                  1614 non-null   int64
 4   department                  302 non-null    object
 5   distance_from_home          1614 non-null   int64
 6   education                   1614 non-null   int64
 7   education_field             869 non-null    object
 8   employee_number             1614 non-null   int64
 9   environment_satisfaction    1614 non-null   int64
 10  gender                      1614 non-null   object
 11  hourly_rate                 1614 non-null   int64
 12  job_involvement             1614 non-null   int64
 13  job_level                   1614 non-null   int64
 14  job_role                    1614 non-null   object
 15  job_satisfaction            1614 non-null   int64
 16  marital_status              963 non-null    object
 17  monthly_income              1614 non-null   int64
 18  monthly_rate                1614 non-null   int64
 19  num_companies_worked        1614 non-null   int64
 20  overtime                    938 non-null    object
 21  percent_salary_hike         1614 non-null   int64
 22  relationship_satisfaction   1614 non-null   int64
 23  stock_option_level          1614 non-null   int64
 24  total_working_years         1614 non-null   int64
 25  training_times_last_year    1614 non-null   int64
 26  work_life_balance           1614 non-null   int64
 27  years_at_company            1614 non-null   int64
 28  years_since_last_promotion  1614 non-null   int64
 29  years_with_curr_manager     1614 non-null   int64
 30  year_birth                  1614 non-null   int64
 31  role_department             302 non-null    object
 32  remote_work                 1614 non-null   object
dtypes: int64(23), object(10)
memory usage: 428.7+ KB

In [8]:
df["department"] = df["department"].fillna('n/a')

In [9]:
df["education_field"] = df["education_field"].fillna('n/a')

In [10]:
df["marital_status"] = df["marital_status"].fillna('n/a')

In [13]:
df["role_department"] = df["role_department"].fillna('n/a')

In [15]:
df["overtime"] = df["overtime"].fillna('n/a')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 0 to 1613
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         1614 non-null   int64
 1   attrition                   1614 non-null   object
 2   business_travel             1614 non-null   object
 3   daily_rate                  1614 non-null   int64
 4   department                  1614 non-null   object
 5   distance_from_home          1614 non-null   int64
 6   education                   1614 non-null   int64
 7   education_field             1614 non-null   object
 8   employee_number             1614 non-null   int64
 9   environment_satisfaction    1614 non-null   int64
 10  gender                      1614 non-null   object
 11  hourly_rate                 1614 non-null   int64
 12  job_involvement             1614 non-null   int64
 13  job_level                   1614 non-null   int64
 14  job_role                    1614 non-null   object
 15  job_satisfaction            1614 non-null   int64
 16  marital_status              1614 non-null   object
 17  monthly_income              1614 non-null   int64
 18  monthly_rate                1614 non-null   int64
 19  num_companies_worked        1614 non-null   int64
 20  overtime                    1614 non-null   object
 21  percent_salary_hike         1614 non-null   int64
 22  relationship_satisfaction   1614 non-null   int64
 23  stock_option_level          1614 non-null   int64
 24  total_working_years         1614 non-null   int64
 25  training_times_last_year    1614 non-null   int64
 26  work_life_balance           1614 non-null   int64
 27  years_at_company            1614 non-null   int64
 28  years_since_last_promotion  1614 non-null   int64
 29  years_with_curr_manager     1614 non-null   int64
 30  year_birth                  1614 non-null   int64
 31  role_department             1614 non-null   object
 32  remote_work                 1614 non-null   object
dtypes: int64(23), object(10)
memory usage: 428.7+ KB

In [17]:
df.to_csv('datos_limpios.csv', index=False)

In [19]:
df.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_number',
       'environment_satisfaction', 'gender', 'hourly_rate', 'job_involvement',
       'job_level', 'job_role', 'job_satisfaction', 'marital_status',
       'monthly_income', 'monthly_rate', 'num_companies_worked', 'overtime',
       'percent_salary_hike', 'relationship_satisfaction',
       'stock_option_level', 'total_working_years', 'training_times_last_year',
       'work_life_balance', 'years_at_company', 'years_since_last_promotion',
       'years_with_curr_manager', 'year_birth', 'role_department',
       'remote_work'],
      dtype='object')

In [21]:
df["age"].astype("int64")

0       51
1       52
2       42
3       47
4       46
        ..
1609    36
1610    45
1611    39
1612    36
1613    46
Name: age, Length: 1614, dtype: int64