## Importamos las librerias necesarias

In [ ]:
import pandas as pd

## Leemos el fichero csv de Git

In [ ]:
url="https://raw.githubusercontent.com/Violainedlst/proyecto-da-promo-H-modulo-3-team-2-People-pulse/main/HR%20RAW%20DATA.csv"
data = pd.read_csv(url)

## Sacamos la información de csv para ver los tipos de datos de cada columna

In [ ]:
data.info()

## Recorremos las columnas para ver la información que contiene cada una

In [ ]:
for column in data.columns:
  
    print(f"Columna: {column}")
    print(data[column].unique())

    print("\n--------------------\n")

## Empezamos a limpiar los datos por columnas

In [ ]:
# Convertimos todos los nombres de las columnas a minúsculas
data.columns = [column.lower() for column in data.columns]

# Modificamos los nombres de las columnas para mejor comprensión lectora
data.rename(columns={
    'unnamed: 0': 'id',
    'age': 'age',
    'attrition': 'attrition',
    'businesstravel': 'business_travel',
    'dailyrate': 'daily_rate',
    'department': 'department',
    'distancefromhome': 'distance_from_home',
    'education': 'education',
    'educationfield': 'education_field',
    'employeecount': 'employee_count',
    'employeenumber': 'employee_number',
    'environmentsatisfaction': 'environment_satisfaction',
    'gender': 'gender',
    'hourlyrate': 'hourly_rate',
    'jobinvolvement': 'job_involvement',
    'joblevel': 'job_level',
    'jobrole': 'job_role',
    'jobsatisfaction': 'job_satisfaction',
    'maritalstatus': 'marital_status',
    'monthlyincome': 'monthly_income',
    'monthlyrate': 'monthly_rate',
    'numcompaniesworked': 'num_companies_worked',
    'over18': 'over_18',
    'overtime': 'overtime',
    'percentsalaryhike': 'percent_salary_hike',
    'performancerating': 'performance_rating',
    'relationshipsatisfaction': 'relationship_satisfaction',
    'standardhours': 'standard_hours',
    'stockoptionlevel': 'stock_option_level',
    'totalworkingyears': 'total_working_years',
    'trainingtimeslastyear': 'training_times_last_year',
    'worklifebalance': 'work_life_balance',
    'yearsatcompany': 'years_at_company',
    'yearsincurrentrole': 'years_in_current_role',
    'yearssincelastpromotion': 'years_since_last_promotion',
    'yearswithcurrmanager': 'years_with_curr_manager',
    'sameasmonthlyincome': 'same_as_monthly_income',
    'datebirth': 'date_birth',
    'salary': 'salary',
    'roledepartament': 'role_department',
    'numberchildren': 'number_children',
    'remotework': 'remote_work'
}, inplace=True)

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data.to_csv('CSV')

### Lo que hay que cambiar de la 0 a la 21

- `daily_rate`: quitar símbolo `$` y convertir a `int`

In [ ]:
# Aseguramos que los valores de 'daily_rate' son de tipo string
data['daily_rate'] = data['daily_rate'].astype(str)

# Lista de símbolos a eliminar en los valores de la columna
quitar_simbolos = [' ', '$']

# Itera sobre cada símbolo en la lista de símbolos a eliminar
for simbolo in quitar_simbolos:
    # Elimina el símbolo actual de todos los valores de la columna 'daily_rate'
    data['daily_rate'] = data['daily_rate'].str.replace(simbolo, '', regex=False)

# Rellena los valores NaN y los valores vacíos con '0'
data['daily_rate'] = data['daily_rate'].replace(['nan', ''], '0')

# Convierte la columna 'daily_rate' a tipo int, manejando errores
data['daily_rate'] = pd.to_numeric(data['daily_rate'], errors='coerce').fillna(0).astype(int)

# Muestra las primeras filas del DataFrame para verificar que los valores de la columna se han modificado correctamente
data.head(2)

- `age` es `object` y debería ser `int`
- `hourly_rate` aparece como `object` y debería ser `int`
- `monthly_income`: convertir a `int`

In [ ]:
columnas3 = ['age', 'hourly_rate', 'monthly_income']

# Itera sobre cada columna en la lista de columnas a convertir
for columna in columnas3:
    # Asegúrate de que los valores de la columna son de tipo string
    data[columna] = data[columna].astype(str)
    # Elimina cualquier valor no numérico o vacío y reemplaza por 0
    data[columna] = data[columna].replace(['nan', '', ' '], '0')
    # Convierte la columna a tipo numérico (int)
    data[columna] = pd.to_numeric(data[columna], errors='coerce').fillna(0).astype(int)

# Muestra las primeras filas del DataFrame para verificar que los valores de las columnas se han modificado correctamente
data.head(2)

- `employee_number` sale como `float` y debería ser `int`

In [ ]:
# Eliminar caracteres no numéricos de 'employee_number'
data['employee_number'] = data['employee_number'].astype(str).str.replace('[^0-9.]', '', regex=True)

# Rellenar los valores NaN con 0
data['employee_number'] = pd.to_numeric(data['employee_number'], errors='coerce').fillna(0)

# Convertir la columna 'employee_number' de float a int
data['employee_number'] = data['employee_number'].astype(int)

# Mostrar los primeros registros para verificar
data.head(2)

- cambiar todos los `valores` a `minúsculas`

In [ ]:
# Lista de columnas a convertir a minúsculas de al 0 a la 21
columns_to_lower = [
    'age', 'attrition', 'business_travel', 'daily_rate', 'department', 
    'distance_from_home', 'education', 'education_field', 'employee_count', 
    'employee_number', 'environment_satisfaction', 'gender', 'hourly_rate', 
    'job_involvement', 'job_level', 'job_role', 'job_satisfaction', 
    'marital_status', 'monthly_income', 'monthly_rate'
]

# Convertir a minúsculas las columnas especificadas
for column in columns_to_lower:
    if data[column].dtype == 'object':  # Verifica si la columna es de tipo str
        data[column] = data[column].str.lower()
        
data.head(5)

- quitar los `NaN` de las columnas que lo tengan

In [ ]:
# Reemplazar NaN en las columnas especificadas por 'No aplica'
columns_to_replace = ['business_travel', 'department', 'education_field', 'marital_status']
replacement_value = 'no aplica'

data[columns_to_replace] = data[columns_to_replace].fillna(replacement_value)

# Mostrar los primeros registros para verificar
data.head(2)

## Creamos un CSV para ver si las columnas de la 0 a la 21 se han limpiado correctamente

In [ ]:
data.to_csv("Ejemplo_0_21.csv")