In [2]:
from os import stat
from tkinter import * 
from tkinter import ttk,Toplevel, Frame, Label, Button
from tkinter import messagebox as Msg
from tkinter import filedialog as FileDialog
from PIL import Image, ImageTk
from conexion import  DAO
import queries as qu
import pandas as pd
import numpy as np
import convertir_int32
import subprocess
import os

In [3]:
csv =r"D:\Repositorios Adalab\proyecto-da-promo-H-modulo-3-team-2-People-pulse\HR_RAW_DATA_LIMPIO.csv"
df =pd.read_csv(csv,index_col=0)
df.fillna('n/a', inplace=True)

In [4]:
df.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_number',
       'environment_satisfaction', 'gender', 'hourly_rate', 'job_involvement',
       'job_level', 'job_role', 'job_satisfaction', 'marital_status',
       'monthly_income', 'monthly_rate', 'num_companies_worked', 'overtime',
       'percent_salary_hike', 'relationship_satisfaction',
       'stock_option_level', 'total_working_years', 'training_times_last_year',
       'work_life_balance', 'years_at_company', 'years_since_last_promotion',
       'years_with_curr_manager', 'year_birth', 'role_department',
       'remote_work'],
      dtype='object')

In [12]:
df["employee_number"].drop_duplicates()

0        162
1        259
2        319
3       1000
5       1900
        ...
1463    1966
1464    1974
1466    2012
1468    2023
1469    2040
Name: employee_number, Length: 1080, dtype: int64

In [13]:
df["employee_number"]

0        162
1        259
2        319
3       1000
4       1000
        ...
1609     967
1610     972
1611    1000
1612     990
1613    1000
Name: employee_number, Length: 1614, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 0 to 1613
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         1614 non-null   int64
 1   attrition                   1614 non-null   object
 2   business_travel             1614 non-null   object
 3   daily_rate                  1614 non-null   int64
 4   department                  1614 non-null   object
 5   distance_from_home          1614 non-null   int64
 6   education                   1614 non-null   int64
 7   education_field             1614 non-null   object
 8   employee_number             1614 non-null   int64
 9   environment_satisfaction    1614 non-null   int64
 10  gender                      1614 non-null   object
 11  hourly_rate                 1614 non-null   int64
 12  job_involvement             1614 non-null   int64
 13  job_level                   1614 non-null   int64
 14  job_role                    1614 non-null   object
 15  job_satisfaction            1614 non-null   int64
 16  marital_status              1614 non-null   object
 17  monthly_income              1614 non-null   int64
 18  monthly_rate                1614 non-null   int64
 19  num_companies_worked        1614 non-null   int64
 20  overtime                    1614 non-null   object
 21  percent_salary_hike         1614 non-null   int64
 22  relationship_satisfaction   1614 non-null   int64
 23  stock_option_level          1614 non-null   int64
 24  total_working_years         1614 non-null   int64
 25  training_times_last_year    1614 non-null   int64
 26  work_life_balance           1614 non-null   int64
 27  years_at_company            1614 non-null   int64
 28  years_since_last_promotion  1614 non-null   int64
 29  years_with_curr_manager     1614 non-null   int64
 30  year_birth                  1614 non-null   int64
 31  role_department             1614 non-null   object
 32  remote_work                 1614 non-null   object
dtypes: int64(23), object(10)
memory usage: 428.7+ KB